RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)(/?)$ index.php?document=$1 [L,QSA]
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, X-Requested-With, Authorization"
</IfModule>
<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
</IfModule>
