<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <compilation debug="true" />
    </system.web>
    <system.webServer>
        <httpCompression>
            <staticTypes>
                <remove mimeType="*/*" />
                <add mimeType="image/svg+xml" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
        </httpCompression>
        <rewrite>
            <rules>
                <clear />
                <rule name="apiredirect" enabled="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="^apidocs.loginradius.com$" />
                        <add input="{HTTP_HOST}" pattern="^docs.loginradius.com$" negate="true" />
                        <add input="{HTTP_HOST}" pattern="^apidocs-dev.lr-dev.dev$" negate="true" />
                        <add input="{HTTP_HOST}" pattern="^apidocs-staging.div4.dev$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://docs.loginradius.com/api/{R:0}" appendQueryString="true" redirectType="Permanent" />
                </rule>
                <rule name="supportredirect" enabled="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="^support.loginradius.com$" />
                    </conditions>
                    <action type="Redirect" url="https://docs.loginradius.com/{R:0}" appendQueryString="true" redirectType="Permanent" />
                </rule>
                <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Remove docs from query String">
                    <match url="(.*)php(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="apidocs-dev.lr-dev.dev" />
                        <add input="{QUERY_STRING}" pattern="document=%2Fdocs(.*)" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}php?document={C:1}" appendQueryString="false" />
                </rule>
                <rule name="Rewrite url with docs subdir" enabled="true" stopProcessing="true">
                    <match url="docs/(.*)$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{URL}" pattern="/legacy/docs/(.*)$" ignoreCase="false" />
                        <add input="{HTTP_HOST}" pattern="apidocs-dev.lr-dev.dev" />
                    </conditions>
                    <action type="Rewrite" url="/index.php?document={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Redirect Rule with not virtual dir" enabled="true" stopProcessing="true">
                    <match url="^docs/(.*)$" negate="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="apidocs-dev.lr-dev.dev" />
                        <add input="{URL}" pattern="\.js" negate="true" />
                        <add input="{URL}" pattern="\.css" negate="true" />
                        <add input="{URL}" pattern="\.svg" negate="true" />
                        <add input="{URL}" pattern="\.ttf" negate="true" />
                        <add input="{URL}" pattern="\.ico" negate="true" />
                        <add input="{URL}" pattern="\.png" negate="true" />
                        <add input="{URL}" pattern="\.woff" negate="true" />
                        <add input="{URL}" pattern="\.php" negate="true" />
                        <add input="{URL}" pattern="\.gif" negate="true" />
                        <add input="{URL}" pattern="\.json" negate="true" />
                    </conditions>
                    <action type="Redirect" url="/docs{PATH_INFO}" />
                </rule>
                <rule name="CheckPath" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="apidocs-dev.lr-dev.dev" />
                        <add input="{URL}" pattern="/legacy/docs/(.*)" negate="true" />
                        <add input="{URL}" pattern="/legacy/docs/(.*)\.js" />
                    </conditions>
                    <action type="Redirect" url="/{C:1}.js" />
                </rule>
                <rule name="Rewrite Production Rule" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
                        <add input="{HTTP_HOST}" pattern="apidocs-dev.lr-dev.dev" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.php?document={R:1}" appendQueryString="true" />
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="/" />
            </rewriteMaps>
        </rewrite>
    </system.webServer>
</configuration>