#Age Verification


LoginRadius provides you with the capability of having an Age Verification rule. Once you enable Age Verification you can set the required age for your users. The Registration form will prompt for the user's date of birth. And if they are below the age set, they won't be able to register. Users below the set age will receive an error message.


![enter image description here](https://apidocs.lrcontent.com/images/Age-Varification-V01-01-02_217515b744c1a8588a4.57415406.png "enter image title here")


Considerations:

1. Users who are already registered will be unable to update their age to one below the age of restriction.

2. Using our APIs will override age verification, which means you will be able to register and update users via the APIs even if they are below the age of restriction.

To setup an age verification rule, simply go to your LoginRadius Admin Console under Data Governance > Trust Center > Privacy Center.

>**Note:** To enable Age Verification please contact LoginRadius.
